<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Liên hệ</h4>
        <p>Địa chỉ: 123 đường ABC, phường XYZ, quận TUV, TP. HCM</p>
        <p>Điện thoại: 0123.456.789</p>
        <p>Email: annhps40240@gmail.com</p>
      </div>
      <div class="col-md-4">
        <h4>Liên kết</h4>
        <ul>
          <li><a href="#">Trang chủ</a></li>
          <li><a href="#">Giới thiệu</a></li>
          <li><a href="#">Sản phẩm</a></li>
          <li><a href="#">Dịch vụ</a></li>
          <li><a href="#">Tin tức</a></li>
          <li><a href="#">Liên hệ</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Mạng xã hội</h4>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>&copy; 2023 Bản quyền thuộc về ABC</p>
      </div>
    </div>
  </div>
</footer>